:local .title {
  font-size: 3em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: indigo;
  background-color: whitesmoke;
  border: 1px solid indigo;
  font-weight: lighter;
  padding: 1em;
}

:local .emphased {
  font-weight: bolder;
}
