version: '3'

services:
  webpack:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: npm run watch:webpack
    volumes:
      - ../:/usr/src/cars/:ro
      - /usr/src/cars/node_modules/
      - ../dist/:/usr/src/cars/dist/:rw
    environment:
      - NODE_ENV=development

  node-api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: npm run watch:api
    volumes:
      - ../dist/services/api/:/usr/src/cars/dist/services/api/:ro
    environment:
      - NODE_ENV=development
      - NODE_PORT=3006
    expose:
      - 3006
    depends_on: 
      - webpack

  node-ssr:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: npm run watch:ssr
    volumes:
      - ../dist/services/ssr/:/usr/src/cars/dist/services/ssr/:ro
      # I'm not sure that's the better way but it just works
      - ../src/services/ssr/html.ejs:/usr/src/cars/src/services/ssr/html.ejs:ro
    environment:
      - NODE_ENV=development
      - NODE_PORT=3007
    expose:
      - 3007
    depends_on: 
      - webpack

  nginx:
    image: nginx
    volumes:
      - ../docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ../dist/client/:/usr/share/nginx/html/:ro
    environment:
      - NGINX_HOST=cars
      - NGINX_PORT=80
    ports:
      - "8080:80"
    links:
      - node-api
      - node-ssr
